@import 'tailwindcss';

html, body {
    background-color: #fff8e7;
    height: 100vh;
}

.loader {
    max-width: 48px;
    max-height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    width: 100%;
    height: 100%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    --width: calc((100vw - 64px) / 2 - 16px);
    display: grid;
    grid-template-columns: var(--width) 64px var(--width);
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.header_item {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.score {
    border: 1px solid darkgray;
    background-color: lightgray;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
}

.checker {
    aspect-ratio: 1.0;
    border-radius: 50%;
    border: 2px solid gray;
    transition: left 1s ease-in-out,
    top 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checker--first {
    background-color: #fff;
}

.checker--second {
    background-color: #000;
}

.checker--check {
    border-color: #1E90FF;
    z-index: 10;
}

.checker .status {
    width: 80%;
}

.header .checker {
    width: 16vw;
    height: 16vw;
}

.name {
    word-wrap: break-word;
    width: 100%;
    padding-inline: 16px;
}

.board {
    margin-top: 16px;
    background-image: url('/board.png');
    background-size: cover;
    aspect-ratio: 1156 / 956;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: stretch;
}

.bottom-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    max-height: 100px;
}

.bottom-buttons button {
    height: 100%;
}

.screen {
    width: 9vh;
    height: 9vh;
}

.turns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.turns-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out 1s;
    opacity: 0;
}

.turns-info--active {
    opacity: 1;
}

.button {
    aspect-ratio: 1.0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
}

.button[data-orientation="right"] {
    background-image: url('/right.png');
}

.button[data-orientation="left"] {
    background-image: url('/left.png');
}